.page {
  width: 100vw;
  height: 90vh;
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  z-index: 0;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-text);
}

.titulo span {
  color: var(--color-primary);
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(0.7);
  transition: background-image 0.5s ease-in-out;
  z-index: 1;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.content h1 {
  font-size: 2.375rem; /* 38px */
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
  color: var(--color-text);
  font-weight: 700;
}

.whatsappButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.whatsappButton:hover {
  background-color: #005bb5;
  box-shadow: 0 0 0.5rem var(--color-primary);
  transform: scale(1.05);
}

.thumbnails {
  position: absolute;
  bottom: 1.875rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  z-index: 2;
}

.thumbnails img {
  width: 6.25rem;   /* 100px */
  height: 4.375rem; /* 70px */
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
  border: 2px solid var(--color-text);
}

.thumbnails img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
