.page {
  width: 95vw;
  height: 90vh;
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(0.7);
  transition: background-image 0.5s ease-in-out;
  z-index: 1;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-text);
}

.titulo span {
  color: var(--color-primary);
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.whatsappButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.whatsappButton:hover {
  background-color: #005bb5;
  box-shadow: 0 0 0.5rem var(--color-primary);
  transform: scale(1.05);
}

.sliderContainer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  padding: 0 2rem;
  z-index: 2;
}

.carousel img {
  width: 100%;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--color-text);
  transition: transform 0.3s, filter 0.3s;
}

.carousel img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem;
  }

  .whatsappButton {
    padding: 0.625rem 1.25rem;
    font-size: 0.9rem;
  }

  .carousel img {
    height: 3.5rem;
  }
}
