/* Estilo geral */

/* Variáveis de cores */
:root {
  --color-background: rgb(37, 36, 36);
  --color-text: #eaeaea;
  --color-primary: #fd9800;
  --color-secondary: #9b9b9b;
  --color-overlay: rgba(0, 0, 0, 0.582);
  --color-dark-overlay: rgba(0, 0, 0, 0.7);
}

/* Tema claro */
.light-mode {
  --color-background: #ffffff;
  --color-text: #333333;
  --color-primary: #fd9800;
  --color-secondary: #666666;
  --color-overlay: rgba(255, 255, 255, 0.8);
  --color-dark-overlay: rgba(255, 255, 255, 0.7);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

h2.titulo {
  color: var(--color-text);
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: var(--color-primary);
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px var(--color-primary);
  transform: scale(1.05);
}